<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block mymessage %}

<div class="">
  <div class="">
    <h3 class="">Change Password</h3>
  </div>
  <div class="">
    <form method="post">
      {% csrf_token %}
      {% if messages %}
        {% for message in error %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <label for="password">New Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter New Password">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
