{% extends 'base.html' %}
{% load filcus %}
{% block mymessage %}
{% load static %}

<div style='margin-top:20px;' class="container mx-auto">
    <h1 class="text-center font-weight-bold" style="font-size: 36px;">{{head}}</h1>
    {% if blogs %}

    <div class="result-item row justify-content-center mb-5">
        {% for blog in blogs %}
            
                <div class="col-lg-3">
                    <div class="border border-dark rounded p-1 my-1 ">
                        
                    <a href="{% url 'blog_details' blog.title|cuslug blog.id %}">
                      {% if blog.thumbnail %}
                        <img src="{{ blog.thumbnail.url }}"  class="w-100 rounded" height="200px" style="width:100%;min-height:300px !important;cursor: pointer;object-position: center; object-fit: cover;" alt="">
                      {% endif %}
                        <p class="m-1 fs-3 text_color">{{ blog.title|truncatewords:5 }}</p>
                        <p class="m-1 text_color">{{ blog.content|truncatechars:60 }}</p>
                        <p class="m-1  text_color">{{ blog.location}}</p>
                        <p class="m-1 text_color">Created at : {{ blog.created_at|timesince }} ago</p>
                        <div class="text-center pt-3">
                            <a href="{% url 'blog_details' blog.title|cuslug blog.id %}" class="btn btn-primary w-50  my-1 color_for_buttons">Read More</a>
                        </div>
                    </a>
                    </div>
                </div>
                
                {% endfor %}
            </div>
    {% else %}
        <h4 class="text-center my-4" style="padding-bottom: 70px;">No results found.</h4>
    {% endif %}
</div>
{% endblock %}