{% extends 'base.html' %}

{% block mymessage %}

<div class="container-lg mx-auto row mb-5"style='margin-top:100px;'>
    <h2 class="w-100 py-2 text_color" style="font-size: 36px;">Find Best Places to Visit in India in May & June</h2>
    <!-- Card -->
    <div class=" pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
      <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class=" pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class="  pt-3 pb-2 my-1 card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class=" pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class="  pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title"style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">LLorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class="  pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
      <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class="  pt-3 pb-2 my-1  card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  <div class="  pt-3 pb-2 my-1 card col-lg-3 col-md-6 col-sm-12 mx-auto" style="width: 18rem;border:none">
      <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA0QMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAFhABAQEAAAAAAAAAAAAAAAAAAAER/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOxkQBrVZXQUSVQFQBRAFEAURQAQFEAVAABAA1LQXUQAVAEVAFVlQU1AGlZAaGVBRNNBRNNBRNNBRNSgpUANNQBUAAQAEABFBRAFVAFAAVAFEAUQBRAFQAAABAAEBUAAQAVAFAAVAFABRAFAAAAAABAVAABAVAAQoAACKiwBUUAAFAAAAAAAAAAAAAAQAAKCAACACoAoigoQAVAFAAAAAAAABAUQAAAQAAQAAEWIsAVAFVAFEUAAFEAUQAAAAAAAQAAQFQQAABWVBRFAVAFAAABRAFEAUQBUAAAAQAAAQAAQEiosBRFBRFgAAKIAoiwACABUBRAAAAKgAFAQANEAf//Z"  width="270px" height="190px" class="rounded"  alt="...">
        <h3 style="position: absolute;top: 90px; left: 25%;" class="text_color">OutofGhar</h3>
      <div class="card-body p-0 pt-3">
        <p class="text_color fw-bold m-0">4D - 3N</p>
        <h5 class="card-title "style="font-size: 18px;font-weight: 700;font-family: circularairpro-bold,Helvetica,Arial,sans-serif;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        <p class="m-0 text_color mb-1"style='font-size:18px;font-weight:bold;'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg> Location</p>
        <div class="d-flex justify-content-between">
            <p class="fw-bold"><span style="font-size: 20px;">10,000</span><span class="text-secondary">/ person</span></p>
            <button class="me-2 text-light bg-dark rounded">Book Now</button>
        </div>
        <!-- <div class="d-flex mt-2 justify-content-between">
            <p style="width:40px;height:40px ;" class="rounded-circle"><img src="https://cdn1.tripoto.com/media/filter/mss/img/2165009/UserPhoto/1628574904_tripoto_s_mindful_retreats.jpg.webp" class="border rounded-circle" alt="" style="width: 40px;height: 40px;object-fit: cover;"></p>
            <p class="mt-2">OutofGhar Minful Retreats</p>
        </div> -->
      </div>
    </div>
  </div>


{% endblock %} 